
 

    *{
  box-sizing:border-box;
 cursor:url(https://i.imgur.com/fxqyPPr.png),auto;
}
a:hover{
  cursor:url(https://i.imgur.com/0Me0mof.png),progress!important;
}
body{
  margin:0;
  padding:0;
  font:1em/1.8 'Roboto';
  background-color:rgb(230, 230, 250,.7);
 
}
.container{
  width:80%;
  margin:3em auto;
  display:grid;
 grid-gap:10px;
  grid-template-columns:repeat(auto-fit, 120px);
   align-items:center;
justify-content:center;
    
}
.box{
  width:120px;
  height:120px;
  position:relative;
  padding:2%;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
   
}
.name{
 font-size:1em;
}
.rgba{
  font-size:.8em;
  -webkit-user-select:all;
user-select:all;
  padding:2%;
  cursor:url(https://i.imgur.com/0Me0mof.png),progress!important;
}
.hex{
-webkit-user-select:all;
user-select:all;
  text-align:center;
  padding:2%;
  font-size:.9em;
   cursor:url(https://i.imgur.com/0Me0mof.png),progress!important;
}
 
::selection {
    background: pink;
    color: #ffffff;
}
::-webkit-scrollbar{
  width:9px;
  height:0;
  border:4px solid #ededfb;
  background:pink;
}
::-webkit-scrollbar-thumb{
  background:pink;
}

.info{
  position:fixed;
  top:5px;
  right:5px;
  font-size:.8em;
transition:1s;
padding:.5em 1em;
z-index:4;
}
.info a{
  text-decoration:none;
  color:#444;
 
}
.info:hover{
background:thistle;
 transition:1s;

}
